GITHUB_SETTINGS = {
    'Default': {
        'account': '',
        'password': '',
        #examples:  https://github.com/Atrac613/Test
        'repos': {
            'Atrac613': [
                'Test'
            ]
        }
    }
}

#Windows
PRINT_COMMAND = 'gsprint -printer "EPSON TM-L90 Receipt" %s'

#Mac
#PRINT_COMMAND = ''

DB_FILE_NAME = 'issue-printer.db'
