GITHUB_SETTINGS = {
    'Default': {
        'account': '',
        'password': '',
        #examples:  https://github.com/Atrac613/Test
        'repos': {
            'Atrac613': [
                'Test'
            ]
        }
    }
}

PRINTER_NAME = 'EPSON TM-L90 Receipt'
DB_FILE_NAME = 'issue-printer.db'
